:root {
    color: #1b1b1b;
    background-color: #cfcfcf;
    transition: 300ms;
}

.header > *{
    color: #535bf2;
    transition: 300ms;
}

a {
    color: #535bf2;
    transition: 300ms;
}

a:hover {
    color: #7d83f1;
    transition: 300ms;
}

button:hover {
    border-color: #1b1b1b;
    transition: 300ms;
}

.number {
    color: #1b1b1b;
    background-color: #cfcfcf;
    transition: 300ms;
}

.number:hover{
    background-color: #ffffff;
    transition: 300ms;
}

.operators {
    background-color: #1b1b1b;
    transition: 300ms;
    color: #cfcfcf;
}

.operators:hover{
    background-color: #000000;
    transition: 300ms;
}

.C {
    background-color: #213547;
    color: #cfcfcf;
    transition: 300ms;
}

.C:hover {
    background-color: #4a667e;
    transition: 300ms;
}

.display {
    color: #cfcfcf;
    background-color: #1b1b1b;
    transition: 300ms;
}

.calculadora-final {
  background-color: #535bf2;
  transition: 300ms;
}