:root {
    color: #3ea800;
    background-color: #cfcfcf;
    transition: 300ms;
}

a {
    color: #266800;
    transition: 300ms;
}

a:hover {
    color: #3ea800;
    transition: 300ms;
}

button:hover {
    border-color: #1b1b1b;
    transition: 300ms;
}

.number {
    color: #cfcfcf;
    background-color: #153800;
    transition: 300ms;
}

.number:hover {
    background-color: #3ea800;
    transition: 300ms;
}

.operators {
    background-color: #1b1b1b;
    color: #cfcfcf;
    transition: 300ms;
}

.operators:hover {
    background-color: #000000;
    transition: 300ms;
}

.C {
    background-color: #a8a500;
    color: #1b1b1b;
    transition: 300ms;
}

.C:hover {
    background-color: #d6d300;
    transition: 300ms;
}

.display {
    color: #3ea800;
    background-color: #1b1b1b;
    transition: 300ms;
}

.calculadora-final {
    background-color: #266800;
    transition: 300ms;
}